body {
  background: linear-gradient(#252525, $off-black, #252525);
  color: $off-white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  overflow: auto;
}

html {
  background: linear-gradient(#252525, $off-black, #252525);
  height: 100%;
  font-size: 62.5%;
  margin: 0;
  overflow: auto;
  position: fixed;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
}
