.info-container {
  background: url('../../icons/BFLogoSvg.js');
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  position: fixed;
  width: 100vw;

  @media (min-width: $desktop-breakpoint) {
    height: 100vh;
    overflow: hidden;
  }

  @media (max-height: 675px) and (min-width: 570px) {
    height: 100vh;
    overflow: hidden;
  }
}

.info {
  color: lighten($off-white, 10%);
  height: 60vh;
  width: 85vw;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }

  h1,
  h2 {
    color: $off-white;
    margin-bottom: 0;
  }

  p {
    margin: 0.5rem 0 1rem;
    line-height: 1.4;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.3rem;
    height: 55rem;
    width: 32rem;
  }

  @media (max-height: 675px) and (min-width: 570px) {
    font-size: 1.2rem;
    width: 36rem;
  }
}

.about-logo {
  height: auto;
  width: 35vw;
  position: relative;
  top: 2vh;
  margin-left: 1vh;

  @media(min-width: $desktop-breakpoint) {
    width: 14vw;
    margin-left: 0.5vw;
    top: 2.5vh;
  }
}