.info-container {
  background: transparent;
  color: $off-white;
  height: 75vh;
  top: 8rem;
  width: 93vw;
  margin: 2rem;
  position: fixed;
  overflow: scroll;

  a {
    color: white;
    text-decoration: none;
  }

  h1, h2 {
    color: $off-white;
    margin-bottom: 0;
  }

  p {
    margin: 0.5rem 0 1rem;
    line-height: 1.4;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 1.3rem;
    height: 60rem;
    margin: auto;
    padding: 3rem;
    width: 33rem;
    position: relative;
    top: $desktop-top - 5rem;
  }
}
