.info-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 75vh;
  position: fixed;
  top: 10rem;
  width: 100vw;

  @media (min-width: $desktop-breakpoint) { 
    height: 60rem;
    overflow: hidden;
    top: $desktop-top - 9rem;
  }
}

.info {
  color: $off-white;
  height: 75vh;
  width: 82vw;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }

  h1, h2 {
    color: $off-white;
    margin-bottom: 0;
  }

  p {
    margin: 0.5rem 0 1rem;
    line-height: 1.4;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 1.3rem;
    width: 32rem;
  }
}
