.header-container {
  background: $off-white;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  z-index: 100;
}

.header-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  background: transparent;
  text-align: center;
  height: 4rem;
  width: 4rem;
}

.counter {
  align-items: center;
  color: $orange;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  width: 2rem;
  height: 3rem;

  @media (min-width: $desktop-breakpoint) {
    font-size: 3rem;
    width: 3rem;
    height: 4rem;
  }
}

.header-center {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0.5rem;
  z-index: 10;
}

.header-logo {
  cursor: default;
  margin: 1rem 0;
  width: 17rem;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-breakpoint) {
    margin: 1rem;
    width: 35rem;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    margin: 1rem;
    width: 18rem;
  }
}

.header-logo-link {
  cursor: pointer;
  margin: 1rem;
  width: 17rem;

  img {
    width: 100%;
    height: auto;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 1rem;
    width: 35rem;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    margin: 1rem;
    width: 18rem;
  }
}

.link-container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  justify-content: center;
  width: 10%;
}

.link {
  font-size: 0.9rem;
  margin-left: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
 

  a {
    color: #e94500;
    text-decoration: none;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    font-size: 1rem;
  }
}

.active-link {
  font-size: 1.1rem;
  color: #efeefe;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.7rem;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    font-size: 1.2rem;
  }
}

.score {
  color: $orange;
  font-size: 1.3rem;
  font-weight: 700;

  @media (min-width: $desktop-breakpoint) {
    font-size: 2.3rem;
  }
}
