.header-container {
  background: transparent;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  z-index: 100;
}

.header-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  justify-content: center;
  width: 10%;
}

.i-link {
  width: 2.5vh;
  height: 2.5vh;
  transform: rotate(-35deg);
  margin: 1.5vh 0 0;
}

.crown-link {
  fill: $gold;
  stroke: $gold;
  width: 4vh;
  height: 4vh;
  margin: 2vh 0 0;
}

.counter-container {
  background: transparent;
  text-align: center;
  height: 4rem;
  width: 4rem;
}

.counter {
  background: transparent;
  color: $gold;
  font-size: 4vh;
  font-weight: 700;
  width: 3rem;
  height: 3rem;
  text-align: center;
  position: relative;

  @media (min-width: $desktop-breakpoint) {
    font-size: 4vh;
    margin: 0;
  }
}

.header-center {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0.5rem;
  z-index: 10;
}

.header-logo {
  margin: 1.5vh;
  width: 35vh;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 50vh;
  }
}

.desktop-score {
  color: $gold;
  font-size: 4vh;
  font-weight: 700;
}
