.highscore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;

  @media (min-width: $desktop-breakpoint) {
    top: $desktop-top + 2rem;
  }

  @media (min-height: 820px) {
    top: 23rem;
  }

  @media (max-height: 740px) and (min-width: 570px) {
    top: $desktop-top - 3rem;
  }
}

.highscore-title {
  color: $orange;
  cursor: default;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 9px;
  margin-bottom: 1.5rem;
  padding-left: 9px;
  text-align: center;

  @media (max-height: 568px) {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    letter-spacing: 7px;
    padding-left: 7px;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    font-size: 2rem;
  }

  @media (min-height: 820px) {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    letter-spacing: 10px;
    padding-left: 10px;
  }
}

.highscore-body {
  background: transparent;
  cursor: pointer;
  position: relative;
}

.hs-row {
  font-size: 1.3rem;
 

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.7rem;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    font-size: 1.3rem;
  }

  @media (min-height: 820px) {
    font-size: 1.8rem;
  }

  //iphone 11 pro & iphone X & iphone Xs
  @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    font-size: 1.4rem;
  }
  //iphone 11 & iphone XR
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    font-size: 1.8rem;
  }
}

.hs-player {
  margin: 0;
  text-transform: uppercase;
  width: 17rem;

  color: $off-white;
  transition: 200ms color;

  @media (min-width: $desktop-breakpoint) {
    width: 20rem;
  }
}

.hs-player:hover {
  color: lighten($off-white, 20%);
}

.hs-score {
  text-align: right;
  margin: 0;
  color: $off-white;
}

.load-message {
  color: $orange;
  font-size: 1.5rem;
  margin-top: 10rem;
}
