.highscore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: auto;
  position: fixed;
  width: 100vw;
  
  @media (min-width: $desktop-breakpoint) {
    height: 100vh;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highscore-title {
  color: $off-white;
  cursor: default;
  font-size: 3.5vh;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 2vh 1vh 2vh;
  padding-left: 5px;
  text-align: center;

  @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    font-size: 6vw;
  }
}

.highscore-body {
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.hs-row {
  font-size: 2vh;
  
  @media (min-width: $desktop-breakpoint) {
    font-size: 2.5vh;
  }

  //iphone 11 pro & iphone X & iphone Xs
  @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    font-size: 4.5vw;
  }
  //iphone 11 & iphone XR
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    font-size: 3.5;
  }
}

.hs-player {
  margin: 0;
  text-transform: uppercase;
  width: 40vw;

  color: $off-white;
  transition: 200ms color;

  @media (min-width: $desktop-breakpoint) {
    width: 15vw;
  }
}

.hs-player:hover {
  color: lighten($off-white, 20%);
}

.hs-score {
  text-align: right;
  margin: 0;
  color: $off-white;
}

.load-message {
  color: $off-white;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.back-button {
  color: $gold;
  font-size: 2vh;
  position: relative;
  padding: 2rem 0 1rem;
  text-decoration: none;
}

.background-logo-square {
  width: 180vw;
  height: auto;
  position: fixed;
  z-index: -1;
  opacity: 0.1;
}

.background-logo {
  width: 98vw;
  height: auto;
  position: fixed;
  z-index: -1;
  opacity: 0.2;
}

.crown-left {
  transform: rotate(-10deg);
  margin: 0.5rem;
}

.crown-right {
  transform: rotate(10deg);
  margin: 0.5rem;
}