.home-container {
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  position: fixed;
}

.logo-square {
  width: 100vw;

  @media (min-width: $desktop-breakpoint) {
    width: 40vw;
  }
}

.new-game-button {
  background: transparent;
  cursor: pointer;
  width: 3rem;
  height: 3rem;

  @media (min-width: $desktop-breakpoint) {
    width: 3vw;
    height: 3vw;
  }
}

.play-button {
  width: 100%;
  height: 100%;
}

.show-modal-button {
  background: transparent;
  border: none;
  color: $off-white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  margin-top: 4rem;
  position: relative;
  outline: none;
}

.show-modal-button-invisible {
  background: transparent;
  border: none;
  color: transparent;
  cursor: default;
  font-size: 1.5rem;
  font-weight: 300;
  width: 20rem;
  margin-top: 4rem;
  position: relative;
  outline: none;
}

.show-modal-button:hover {
  font-weight: 400;
}
