.view-holder {
  background: $off-black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.game-over-container {
  display: flex;
  flex-direction: column;
}

.game-over-message {
  color: $mustard;
  font-size: 10vw;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 25rem;
  width: 100vw;
}

.game-container {
  align-items: space-between;
  background: $off-black;
  display: flex;
  justify-content: space-between;
  margin: 27rem 0 0 0;
  height: 35rem;
  width: 100%;
  position: fixed;

  @media (min-width: $desktop-breakpoint) {
    margin: 33rem 0 0 0;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    margin: 28rem 0 0 0;
  }

  @media (max-width: 568px) {
    margin: 25rem 0 0 0;
  }
  //iphone 11 pro & iphone X & iphone Xs
  @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    margin: 27rem 0 20rem 0;
  }
  //iphone 11 & iphone XR
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    margin: 27rem 0 20rem 0;
  }

  //iphone 11 pro max & iphone Xs Max
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    height: 30rem;
    margin: 27rem 0 0 0;
  }
}

.game-container-firefox {
  background: $off-black;
  margin: 10rem 0 0 0;
  height: 35rem;
  width: 100%;
  position: relative;

  @media (min-width: $desktop-breakpoint) {
    margin: 15rem 0 0 0;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    margin: 12rem 0 0 0;
  }

  @media (max-width: 568px) {
    margin: 10rem 0 0 0;
  }
}

.band-list {
  height: 40rem;
}

.footer {
  background: $off-black;
  bottom: 2rem;
  position: fixed;
  height: 4rem;
  width: 100vw;
  border-top: 1px solid $off-white;
  padding-bottom: 1rem;
  z-index: 1000;

  @media (min-width: $desktop-breakpoint) {
    height: 7rem;
  }

  @media (max-height: 640px) and (min-width: 570px) {
    height: 5rem;
  }
}

.submit-band {
  background: $off-black;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 1000;
}

.message-box {
  background: $off-black;
  font-size: 1.5rem;
  height: 1.5rem;
  margin: auto;
  bottom: 2rem;
  position: absolute;
  text-align: center;
  width: 100vw;

  @media (min-width: $desktop-breakpoint) {
    font-size: 2rem;
    height: 2rem;
  }
}
