.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  align-items: center;
  justify-content: space-between;
  background: $off-black;
  color: $off-white;
  cursor: default;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: auto;
  padding: 3rem 0;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $off-white;
  z-index: 2000;
}

.modal-header {
  background: transparent;
  display: flex;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

.modal-flow {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  padding: 0 3vh 0 3vh;
}

.modal-back-button {
  align-self: center;
  bottom: 2rem;
  font-size: 2vh;
  color: $gold;
  position: fixed;
  width: 100vw;
  height: 2.5rem;
  padding: 0 0 1rem;
  margin: auto;
  text-align: center;
}

.modal-header-left {
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: right;
  width: 20vw;

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.8rem;

    width: 20rem;
  }
}

.header-player {
  align-items: center;
  color: $gold;
  display: flex;
  flex-direction: column;
  font-size: 3.5vh;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 1px 2px 8px $gold, -1px -2px 8px $gold;
  width: 45vw;

  p {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    text-shadow: none;

    @media (min-width: $desktop-breakpoint) {
      font-size: 1.2rem;
    }
  }
}

.last-round-info {
  justify-self: center;
  align-self: center;
  letter-spacing: 1px;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: none;
  width: 10rem;

  p {
    color: $gold;
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.modal-header-right {
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: left;
  text-transform: none;
  width: 20vw;

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.8rem;
    width: 20rem;
  }
}

.band-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15vh 0 1vh;
  padding: 1rem;
  width: 20rem;
}

.band-name-container {
  width: 25rem;
}

.band-name {
  color: $gold;
  display: flex;
  height: 4rem;
  align-items: flex-start;
  justify-content: center;
  line-height: 1;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.band-name-computer {
  color: $off-white;
  display: flex;
  height: 4rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.band-name-failed {
  color: $red;
  display: flex;
  height: 4rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.fail-svg {
  height: auto;
  margin-bottom: 5vh;
  width: 50vw;

  @media (min-width: $desktop-breakpoint) {
    width: 20vw;
  }
}

.band-points {
  color: $off-white;
  font-weight: 300;
}

.no-band-points {
  color: $off-black;
}

.band-image-container {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  height: 20rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 15rem;
}

.band-image {
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: auto;
}
