.submit-view {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 30vh;
  width: 100vw;
  height: 30rem;
  position: absolute;

  @media (min-width: $desktop-breakpoint) {
    top: 35vh;
  }
}

.highscore-message {
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1rem 0 8vh;

  @media (min-width: $desktop-breakpoint) {
    font-size: 3rem;
    margin: 1rem 0 8vh;
  }
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submit-label {
  font-size: 2rem;
  margin: 2rem;
}

.submit-input {
  background: $off-black;
  border: none;
  caret-color: $off-white;
  text-align: center;
  color: $gold;
  font-size: 2rem;
  outline: none;
  text-transform: uppercase;
  width: 98%;

  ::-webkit-input-placeholder {
    color: lighten($off-black, 5%);
  }
}

.highscore-link-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.link-button {
  transform: rotate(-15deg);
  align-self: baseline;
  margin-right: 5vh;
  color: $gold;
  cursor: pointer;
  font-size: 4vh;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  width: 8vh;

  @media (min-width: $desktop-breakpoint) {
    font-size: 4vh;
    width: 5vh;
    align-self: flex-end;
  }
}

.goto-highscore-crown {
  align-self: center;
  cursor: pointer;
  transform: rotate(15deg);
  stroke: $gold;
  fill: $gold;
  width: 7vw;
  height: auto;
  margin-left: 5vh;
  @media (min-width: $desktop-breakpoint) {
    width: 5vh;
    transform: rotate(10deg);
  }
}
