.submit-view {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 40%;
  width: 100vw;
  height: 30rem;
  position: absolute;
}

.highscore-message {
  font-size: 2rem;
  margin: 1rem 0 1rem;

  @media(min-width: $desktop-breakpoint) {
    font-size: 3rem;
  }
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submit-label {
  font-size: 2rem;
  margin: 2rem;
}

.submit-input {
  background: $off-black;
  border: none;
  caret-color: $off-white;
  text-align: center;
  color: $mustard;
  font-size: 2rem;
  outline: none;
  text-transform: uppercase;
  width: 98%;

  ::-webkit-input-placeholder {
    color: lighten($off-black, 5%);
  }
}

.highscore-link-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.link-button {
  border: 1px solid white;
  border-radius: 20px;
  background: $mustard;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2rem;
  padding: 1rem;
  text-decoration: none;
  outline: none;
  width: 12rem;
}
