.footer-counter-container {
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  position: absolute;
  left: 1rem;
  width: 4rem;
}

.band-input-form {
  background: $off-white;
  width: 101vw;

  ::-webkit-input-placeholder {
    color: gray;
  }

  @media(min-width: $desktop-breakpoint) {
    width: 100.2vw;
  }
}

.band-input-form-ios {
  margin: 0;
  width: 105.5vw;

  ::-webkit-input-placeholder {
    color: light-gray;
  }
}



.band-input {
  background: $off-white;
  caret-color: $off-black;
  color: $off-black;
  display: inline-block;
  width: 100vw;
  height: 3rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-breakpoint) {
    height: 4rem;
    font-size: 2.2rem;
  }
}

.band-input-long {
  background: $off-white;
  caret-color: $off-black;
  color: $off-black;
  display: inline-block;
  width: 100vw;
  height: 3rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.previous {
  background: $off-white;
  color: $frans-orange;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    font-size: 3rem;
  }
}
