//colors:
$off-black: #303030;
$off-white: rgb(220, 220, 205);
$orange: #e94500;

$black: rgb(14, 15, 14);
$dark-blue: rgb(24, 35, 113);
$light-blue: rgb(82, 187, 232);
$gold: rgb(247, 175, 73);
$red: #f53f42;

//measures
$desktop-top: 18rem;
$mobile-top: 10rem;
$desktop-breakpoint: 600px;
