//colors:
$off-black:rgb(15,15,20);
$off-white: rgb(220, 220, 205);
$red: rgb(252,46,52);
$brown: rgb(127,101,18);
$orange: rgb(253,127,56);
$frans-orange: #e94500;
$mustard: rgb(254,203,46);
$yellow: rgb(255,253,55);
$pink: rgb(253,129,130);

//measures
$desktop-top: 18rem;
$mobile-top: 10rem;
$desktop-breakpoint: 45rem;
